    <!-- 加入會員9折 -->
    <div
      class="register d-flex justify-content-center align-items-center mt-48 py-33"
    >
      <h4 class="pe-24 h5-md">加入會員取得 9 折優惠</h4>
      <button type="button" class="btn btn-black">馬上註冊</button>
    </div>
    <footer class="py-64 paragraph-sm c-n600 py-md-32">
      <div class="container">
        <nav
          class="pb-24 d-flex justify-content-between p-md-12"
        >
          <a href="index.html"><img src="../assets/images/product/Logo.png" alt="" /></a>
          <ul class="d-flex">
            <li class="me-40">
              <a class="py-12 px-md-12" href="product.html">商品列表</a>
            </li>
            <li><a class="py-12 px-md-12" href="story.html">品牌故事</a></li>
          </ul>
        </nav>
      </div>
      <p class="pt-32 bor-t">Copyright ©2025 URBNSTYLE</p>
      <p>All Rights Reserved.</p>
    </footer>