<nav
      class="container py-16 d-flex justify-content-between align-items-center p-md-12"
    >
      <ul class="d-flex align-items-center">
        <li>
          <a class="me-48" href="index.html"
            ><img src="../assets/images/product/Logo.png" alt="logo"
          /></a>
        </li>
        <li>
          <a class="py-12 me-40 d-sm-none" href="product.html">商品列表</a>
        </li>
        <li><a class="py-12 d-sm-none" href="story.html">品牌故事</a></li>
      </ul>
      <a href="#"><i class="bi bi-person p-15"></i></a>
    </nav>