.btn {
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background: transparent;
  font-family: "Noto Sans TC", sans-serif;
}
.btn:disabled {
  pointer-events: none; /* 禁止滑鼠事件 */
  cursor: default;      /* 游標改回預設 */
}
@media (max-width: 767px) {
   .btn{
    padding: 8px 16px;
   }
}

.btn-black {
  padding: 12px 24px;
  background-color: $neutral-900;
  color: white;
}
.btnIcon{
  border: none;
  padding: 12px;
  outline: none;
  background: transparent;
}
.btn-green{
  padding: 12px 24px;
  background-color: $primary-300;
}