/* pandding */
.p-8 {
  padding: 8px;
}
.p-15{
  padding: 15px;
}
.p-32 {
  padding: 32px;
}
.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.py-32 {
padding-top: 32px;
padding-bottom: 32px;
}
.py-33 {
padding-top: 33.5px;
padding-bottom: 33.5px;
}
.py-48 {
padding-top: 48px;
padding-bottom: 48px;
}
.py-64 {
padding-top: 64px;
padding-bottom: 64px;
}
.py-100{
  padding-top: 100px;
  padding-bottom: 100px;
}
.py-288{
  padding-top: 288px;
  padding-bottom: 288px;
}
.px-4 {
padding-left: 4px;
padding-right: 4px;
}
.px-12 {
padding-left: 12px;
padding-right: 12px;
}
.ps-8 {
  padding-left: 8px;
}
.ps-15 {
  padding-left: 1.5em;
}
.pb-4 {
  padding-bottom: 4px;
}
.pb-8 {
  padding-bottom: 8px;
}
.pb-12 {
  padding-bottom: 12px;
}
.pb-16 {
  padding-bottom: 16px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-21{
  padding-bottom: 21px;
}
.pb-24 {
  padding-bottom: 24px;
}
.pb-32 {
  padding-bottom: 32px;
}
.pb-48 {
  padding-bottom: 48px;
}
.pe-8 {
  padding-right: 8px;
}
.pe-24 {
  padding-right: 24px;
}
.pe-40{
  padding-right: 40px;
}
.pt-32 {
  padding-top: 32px;
}
.ps-200{
  padding-left: 200px;
}
@media (max-width: 767px) {
  .px-md-0 {
    padding-right: 0;
    padding-left: 0;
  }
  .p-md-12 {
    padding: 12px;
  }
  .p-md-24 {
    padding: 24px;
  }
  .py-md-9-5 {
    padding-top: 9.5px;
    padding-bottom: 9.5px;
  }
  .py-md-32 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .py-md-40{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .py-md-155{
    padding-top: 155px;
    padding-bottom: 155px;
  }
   .pb-md-8{
    padding-bottom: 8px;
  }
  .pb-md-12 {
    padding-bottom: 12px;
  }
  .pb-md-16 {
    padding-bottom: 16px;
  }
  .pb-md-24{
    padding-bottom: 24px;
  }
  .pb-md-32 {
    padding-bottom: 32px;
  }
  .px-md-6{
    padding-right: 6px;
    padding-left: 6px;
  }
  .px-md-12 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .px-md-24{
    padding-left: 24px;
    padding-right: 24px;
  }
  .py-md-64{
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media (max-width: 576px) {
  .py-sm-32 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .pb-sm-32 {
    padding-bottom: 32px;
  }
}
/* margin */
.me-8 {
  margin-right: 8px;
}
.me-12 {
  margin-right: 12px;
}
.me-40 {
  margin-right: 40px;
}
.me-48 {
  margin-right: 48px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mb-64 {
  margin-bottom: 64px;
}
.mt-48 {
  margin-top: 48px;
}
.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.my-48{
  margin-top: 48px;
  margin-bottom: 48px;
}
.my-64{
  margin-top: 64px;
  margin-bottom: 64px;
}
.mx--12{
  margin-left: -12px;
  margin-right: -12px;
}
@media (max-width: 767px) {
  .mx-md-12 {
    margin-left: 12px;
    margin-right: 12px;
  }
  .mb-md-4{
    margin-bottom: 4px;
  }
  .mb-md-12{
    margin-bottom: 12px;
  }
  .mb-md-16 {
    margin-bottom: 16px;
  }
  .mb-md-24 {
    margin-bottom: 24px;
  }
  .mb-md-32 {
    margin-bottom: 32px;
  }
  .mb-md-40{
    margin-bottom: 40px;
  }
  .my-md-24{
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .my-md-40{
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .mx-md--6{
    margin-right: -6px;
    margin-left: -6px;
  }
}

.gap-8 {
  gap: 8px;
}
.gap-24{
  gap: 24px;
}
@media (max-width: 767px) {
  .gap-md-6{
    gap: 6px;
  }  
  .gap-md-12{
    gap: 12px;
  }
}